---
- name: 'Check if plugin {{ plugin.name }} is installed'
  command: 'wp plugin is-installed {{ plugin.name }}'
  args:
    chdir: '/home/{{ remote_web_user }}/www/{{ domain.name }}'
  register: plugin_installed
  failed_when: plugin_installed.rc > 1
  changed_when: false

- name: 'Install and enable plugin {{ plugin.name }}'
  command: 'wp plugin install --activate {{ plugin.url }}'
  args:
    chdir: '/home/{{ remote_web_user }}/www/{{ domain.name }}'
  when: plugin_installed.rc != 0
