---
- block:
  - name: Install language
    command: wp language core install --activate {{ item.wp.language }}
    args:
      chdir: '/home/{{ remote_web_user }}/www/{{ item.name }}'
    when: >
      (("all" in domains_to_use and "none" in domains_to_skip) or item.name in domains_to_use)
      and item.name not in domains_to_skip
    with_items:
      - "{{ domains }}"

  - name: Install themes
    include_tasks: install_theme.yaml
    with_items:
      - "{{ domains }}"
    loop_control:
      loop_var: domain
    when: >
      (("all" in domains_to_use and "none" in domains_to_skip) or domain.name in domains_to_use)
      and domain.name not in domains_to_skip

  - name: Remove meta block
    lineinfile:
      dest: /home/{{ remote_web_user }}/www/{{ item.name }}/wp-includes/widgets/class-wp-widget-meta.php
      insertafter: "public function widget"
      line: "return;"
      state: present
    when: >
      (("all" in domains_to_use and "none" in domains_to_skip) or item.name in domains_to_use)
      and item.name not in domains_to_skip
    with_items:
      - "{{ domains }}"

  become: true
  become_user: "{{ remote_web_user }}"
